<app-nav [rootComponent]="this" [title]="this.title">
  <mat-horizontal-stepper [@.disabled]="true" linear #stepper>
    <mat-step [stepControl]="networkComponent.form">
      <ng-template matStepLabel>Rete</ng-template>
      <app-network #networkComponent [network]="this.network"></app-network>
    </mat-step>
    <mat-step [stepControl]="organizationsComponent.form">
      <ng-template matStepLabel>Organizzazioni</ng-template>
      <app-organizations [rootStepper]="stepper" #organizationsComponent [orgs]="this.network.orgs"></app-organizations>
    </mat-step>
    <mat-step [stepControl]="consortiumsComponent.form">
      <ng-template matStepLabel>Consorzi</ng-template>
      <app-consortiums #consortiumsComponent [network]="this.network"></app-consortiums>
    </mat-step>
    <mat-step [stepControl]="channelsComponent.form">
      <ng-template matStepLabel>Canali</ng-template>
      <app-channels #channelsComponent [network]="this.network"></app-channels>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fine</ng-template>
      <app-summary [network]="this.network"></app-summary>
    </mat-step>
  </mat-horizontal-stepper>
  <input accept="application/json" (change)="fileToImportSelected($event.target.files[0])" #import type="file"
         style="display: none"/>
</app-nav>
